.deco-swing
{
    top: 50%;
    left: 10%;
    animation: swing 5s linear 2s infinite alternate; 
}

/* .whole
{
    transition: transform .5s;
} */

.letjoy
{
    background: linear-gradient(to right, rgb(246, 234, 220), rgb(205, 70, 242)) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size .5s;
}
.letjoy:hover{
    background-position-x: left;
    background-size: 100% 2px;
}

.moveable
{
    transition: transform .5s ease-in-out;
}

.card
{
    transform: translateX(100px);
    opacity: 0;
    
}

.card-moved
{
    transform: translateX(0);
    opacity: 1;
}

.logo-swing
{
    animation: swing-logo 10s linear 2s infinite alternate;
    /* transition: transform 1s; */
}

.letjoy-qr{
    transition: transform .5s;
}

.letjoy-qr:hover {
    transform: scale(1.2);
}

/* .logo-swing:hover {
    transform-style: preserve-3d;
    perspective: 300px;
    transform: scale(0.9) rotateX(30deg) rotateY(30deg) translate(30px, -30px);
} */

@keyframes swing {
    from {transform: rotate(-10deg)}
    to {transform: rotate(10deg)}
}

@keyframes swing-logo {
    from {transform: rotate(20deg)}
    to {transform: rotate(5def)}
}